
/* Size for logo */

.logo-middle {
    max-width: 15rem;
}

/* Left Menu */

.main-sidebar .sidebar-menu li a i {
    margin-right: 15px;
}

/* Custom css for swipe css */

.profile__content{
    height: auto;
}

.profile__card-cont {
    width : 90%;
    height: 40rem;
}

.profile__card > .card {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05);
            box-shadow: 0 0 0 rgba(0,0,0,.05);
    height: 40rem;
} 

.profile__card > .card > .card-body {
    overflow: auto;
} 

#profile__card__container > :first-child > :first-child {
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
            box-shadow: 0 0 40px rgba(0,0,0,.05);
} 

