/* General styles */

.width-100-perc {
    width: 100%;
}

/* Styles for logo's */

.logo-middle {
    max-width: 15rem;
}

.logo-wrapper {
    height: 8rem;
    width: 100%;
    text-align: center;
    vertical-align: middle
}

.logo-wrapper img {
    max-height: 8rem;
    max-width: 8rem;
}

/* Left Menu */

.main-sidebar .sidebar-menu li a i {
    margin-right: 15px;
}

/* Custom css for swipe css */

.profile__content{
    height: auto;
    padding-top: 1.5rem;
}

.profile__card-cont {
    width : 90%;
    height: 40rem;
}

.profile__card > .card {
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.05);
            box-shadow: 0 0 0 rgba(0,0,0,.05);
    height: 40rem;
} 

.profile__card > .card > .card-body {
    overflow: auto;
} 

#profile__card__container > :first-child > :first-child {
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
            box-shadow: 0 0 40px rgba(0,0,0,.05);
} 

